.upload_file{
    .close-icon{
        cursor: pointer;
    }
    .main-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .sample-file{
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
    }
    .browse-file{
        color: #5D5FE3;
        font-size: 14px;
    }
}