.title {
    background: linear-gradient(126deg, #576FF0 6.14%, #856EEB 40.47%, #D674DE 83.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Serif Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

@media screen and (max-width:992px) {
    .sales_form {
        overflow-y: auto;
    }
}